#download_btn {
    float: right;
    text-align: right;
}

#footer {
	color: white;
	display: flex;
	align-items: center;
	background-color: rgba(131, 131, 131, 0.7);
	text-align: center;
	position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
  }

.text-field {
	max-width: 50px; 
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
  }

#info {
	text-align: center;
}
